@model RockBotPanel.Models.Chatinfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chat info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Chat Name
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(this.Model.GetChatName())
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Warns Quantity
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WarnsQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Welcome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Welcome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rules)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rules)
        </dd>
        <dt class="col-sm-2">
            Disabled Commands
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DisabledCommands)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
