@model IEnumerable<RockBotPanel.Models.ChatInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.warns_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.welcome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rules)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.disabled_commands)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.warns_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.welcome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rules)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.disabled_commands)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
