@model RockBotPanel.Models.Users

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.Raw(ViewBag.telegramService.GetUserName((int)Model.Userid.Value, Model.Chatid.Value))</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Chat
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(ViewBag.telegramService.GetChatName(Model.Chatid.Value))
        </dd>
        <dt class="col-sm-2">
            User ID
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Userid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Warns)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Warns)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.Chatid">Back to List</a>
</div>
